
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="navbar-nav">
      <a class="nav-item nav-link">
        <button (click)="OnlogOut()" class="btn btn-danger " [hidden]="!this.loginService.isUserLoggedIn()">Log Out
        </button></a>
      <a class="nav-item nav-link"><button routerLink="/shops" class="btn btn-info " [hidden]="!this.loginService.isUserLoggedIn()">Shops
      </button></a>
      <a class="nav-item nav-link"><button routerLink="/likedShops" class="btn btn-info " [hidden]="!this.loginService.isUserLoggedIn()">Liked Shopes
      </button>
      </a>
    </div>
</nav>
<router-outlet>

</router-outlet>
