<div class="container spacer">
  <h1 class="title">Shops Around You!</h1>
  <div class="card-columns">
    <div class="card" *ngFor="let shop of shops">
      <div class="card-body">
          <div class="card-title">
            <p class="shopName">{{shop.nom}}</p> {{shop.distance}}Km
            </div>
          <p class="card-text">
              {{shop.email}} <br> {{shop.tel}}
          </p>
         <a alt="like" (click)="onLike(shop)" class="btn btn-info clickable"><img src="https://img.icons8.com/ios/50/000000/good-quality-filled.png"></a>
          <a alt="unlike" (click)="onDislike(shop)" class="btn btn-danger clickable"><img src="https://img.icons8.com/ios/50/000000/poor-quality-filled.png"></a>
        </div>
    </div>
  </div>

</div>
