/* You can add global styles to this file, and also import other style files */
@import 'bootstrap/dist/css/bootstrap.min.css';
.spacer{
  pading: 30px;
}
.clickable{
  cursor: pointer;
}

.title{
  text-align: center;
  margin: 3%;
  color: black;
  font-size: 40px;
  text-shadow: 2px 2px rgb(223, 219, 219);
  font-weight: bold;
  text-transform: capitalize;
}
